@media (min-width:320px) and (max-width:575px) {
    .border-hide {
        border-top: none
    }

    .table-head {
        display: none
    }

    .dashboard-content {
        padding: 0
    }

    .btn-secondary {
        font-size: 11px;
        padding: 6px 11px
    }

    .hide-on {
        display: none
    }

    .price {
        text-align: right
    }

    .table-body .beforeclick {
        display: none;
        position: relative
    }

    .table-body .beforeclick .chose-btn {
        position: absolute;
        top: 0;
        left: 197px;
        border-top: none
    }

    .table-body .after-click {
        display: block;
        position: relative;
        padding: 75px 0
    }

    .table-body .after-click .pro-name {
        position: absolute;
        top: 0;
        left: 0;
        border-top: none;
        width: 150px;
        font-weight: bold
    }

    .table-body .after-click .pro-img {
        position: absolute;
        top: 62px;
        left: 0;
        border-top: none
    }

    .table-body .after-click .dubble-btn {
        position: absolute;
        top: 0;
        right: -157px;
        border-top: none
    }

    .table-body .after-click .pro-detail {
        position: absolute;
        top: 50px;
        right: -99px;
        left: 47px;
        border-top: none;
        width: 240px
    }

    .table-body .after-click .pro-price {
        position: absolute;
        top: 75px;
        right: -239px;
        border-top: none;
        font-weight: bold
    }

    @import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';

    .aa-input-container {
        display: inline-block;
        position: relative
    }

    .aa-hint {
        color: #e4e4e4
    }

    .aa-dropdown-menu {
        background-color: #133137;
        border: 2px solid rgba(228, 228, 228, .6);
        border-top-width: 1px;
        font-family: "Montserrat", sans-serif;
        width: 300px;
        margin-top: 10px;
        box-shadow: 4px 4px 0 rgba(241, 241, 241, .35);
        font-size: 12px;
        border-radius: 4px;
        box-sizing: border-box;
        word-wrap: break-word;
        color: #fff
    }

    .aa-suggestion {
        padding: 12px;
        border-top: 1px solid rgba(228, 228, 228, .6);
        cursor: pointer;
        -webkit-transition: .2s;
        transition: .2s;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .aa-suggestion:hover,
    .aa-suggestion.aa-cursor {
        background-color: rgba(241, 241, 241, .65)
    }

    .aa-suggestion>span:first-child {
        color: #333
    }

    .aa-suggestion>span:last-child {
        text-transform: uppercase;
        color: #a9a9a9
    }

    .aa-suggestion span em {
        font-weight: 700;
        font-style: normal;
        background-color: rgba(58, 150, 207, .3);
        padding: 2px 0 2px 2px
    }

    .algolia-result {
        display: flex;
        justify-content: space-between;
        align-items: center
    }

    .algolia-thumb {
        max-width: 35px;
        max-height: 35px
    }

    .algolia-details {
        color: #E75858;
        font-weight: 700
    }

    .ais-hits--item em {
        background-color: rgba(58, 150, 207, .3)
    }

    #header-part {
        overflow-x: hidden
    }

    #header-part .header-overlay {
        padding: 0 0 70px 0
    }

    #header-part .header-overlay nav {
        display: none
    }

    .sticky {
        display: none
    }

    #header-part .header-overlay .sticky-border {
        border: none
    }

    #header-part .header-overlay .top .phone a {
        font-size: 12px;
        margin-top: 15px
    }

    #header-part .header-overlay .top .phone a i {
        width: 20px;
        height: 20px;
        font-size: 13px;
        line-height: 20px;
        margin-right: 1px;
        margin-left: -5px
    }

    #header-part .header-overlay .top .buttons .offer-button {
        font-size: 12px;
        padding: 0 6px
    }

    #header-part .header-overlay .top .buttons a {
        font-size: 13px;
        margin-left: 1px
    }

    #header-part .header-overlay .top .buttons .reg::before {
        width: 1px;
        height: 83%;
        top: 2px;
        right: -3px
    }

    #header-part .header-overlay .top .buttons .reg::after {
        width: 1px;
        height: 83%;
        top: 2px;
        left: -2px
    }

    #header-part .header-overlay .middle {
        display: none;
        padding-bottom: 25px;
        overflow: hidden
    }

    #header-part .header-overlay .mobile-view {
        display: block;
        margin-top: 10px
    }

    #header-part .header-overlay .mobile-view .main .logo .img img {
        width: 78%
    }

    #header-part .header-overlay .mobile-view .main .icons {
        text-align: right
    }

    #header-part .header-overlay .mobile-view .icons {
        position: absolute;
        top: 34%;
        right: 8%;
        margin-top: 4px
    }

    #header-part .header-overlay .mobile-view .icons span {
        display: inline-block;
        font-size: 13px;
        color: #ffffff;
        font-weight: 500;
        border: 1px solid #ffffff;
        border-radius: 5px;
        padding: 1px 6px
    }

    #header-part .header-overlay .mobile-view .icons .pc-build {
        display: inline-block;
        font-size: 13px;
        color: #ffffff;
        font-weight: 500;
        border: 1px solid #ffffff;
        border-radius: 5px;
        padding: 1px 6px;
        background: linear-gradient(130deg, #00237E, #3749BB, #0BC1E9, #3749BB, #00237E);
        background-size: 200% 200%;
        -webkit-animation: Animation 5s ease infinite;
        -moz-animation: Animation 5s ease infinite;
        animation: Animation 5s ease infinite
    }

    @-webkit-keyframes Animation {
        0% {
            background-position: 10% 0%
        }

        50% {
            background-position: 91% 100%
        }

        100% {
            background-position: 10% 0%
        }
    }

    @-moz-keyframes Animation {
        0% {
            background-position: 10% 0%
        }

        50% {
            background-position: 91% 100%
        }

        100% {
            background-position: 10% 0%
        }
    }

    @keyframes Animation {
        0% {
            background-position: 10% 0%
        }

        50% {
            background-position: 91% 100%
        }

        100% {
            background-position: 10% 0%
        }
    }

    #header-part .header-overlay .mobile-view .main .icons .inner-icon {
        display: inline-block;
        border: 1px solid #ffffff;
        border-radius: 5px;
        padding: 1px 6px;
        margin-left: 2px;
        position: relative
    }

    #header-part .header-overlay .mobile-view .main .icons .inner-icon .count-num {
        background: #ffffff;
        border: 1px solid #0e5b51;
        border-radius: 50%;
        font-size: 12px;
        color: #0e5b51;
        padding: 0 8px;
        position: absolute;
        display: inline-block;
        top: -22px;
        left: -10px
    }

    #header-part .header-overlay .bottom {
        border: none
    }

    .offcanvas_menu_wrapper.active {
        background: #143b42;
        color: #ffffff
    }

    .offcanvas_main_menu li a {
        color: #ffffff;
        font-size: 16px;
        transition: .4s
    }

    .offcanvas_menu .canvas_open {
        width: 15%
    }

    .offcanvas_menu form {
        position: absolute;
        top: 123px;
        left: 10px;
        width: 90%;
        z-index: 1
    }

    .offcanvas_menu form input {
        outline: 0;
        border: 0;
        padding: 3px;
        padding-left: 15px;
        border-radius: 30px
    }

    .aa-input-search {
        width: 272px
    }

    .offcanvas_menu form i {
        margin-right: 30px
    }

    .offcanvas_menu form button {
        position: absolute;
        top: 2px;
        right: 4%;
        background: transparent;
        border: 0;
        font-size: 20px;
        color: #939393
    }

    .offcanvas_footer a {
        color: #ffffff
    }

    .canvas_close a {
        color: #ffffff
    }

    .offcanvas_main_menu li:hover a {
        color: #ffffff
    }

    .welcome_text p {
        color: #ffffff
    }

    .widget-address p {
        color: #ffffff
    }

    .welcome_text p:hover {
        color: #ffffff
    }

    .widget-address p:hover {
        color: #ffffff
    }

    #header-part .header-overlay .top {
        background: rgb(26, 69, 75, .7);
        padding: 0 0;
    }

    #cartdrop .cart {
        right: 0;
        height: 405px
    }

    #cartdrop .cart .product {
        width: 290px;
        margin-left: 30px
    }

    #cartdrop .cart .product .img img {
        width: 100%
    }

    #cartdrop .cart .product .text h5 {
        font-size: 13px
    }

    #cartdrop .cart .product .text .price {
        font-size: 13px
    }

    #cartdrop .cart .total-price {
        width: 330px
    }

    #cartdrop .cart .total-price h6 {
        font-size: 13px
    }

    #cartdrop .cart .button {
        width: 323px;
        margin-left: 10px
    }

    #footer-part .pc-view {
        display: none
    }

    #footer-part .mb-view {
        display: block;
        text-align: center
    }

    #footer-part .mb-viewtwo {
        position: relative
    }

    #footer-part .mb-viewtwo:after {
        content: '';
        position: absolute;
        top: 0;
        right: -21px;
        height: 100%;
        width: 2px;
        background: #939393
    }

    #footer-part .go-middle {
        margin: auto
    }

    #footer-part .quick-menus ul li a {
        font-size: 13px;
        margin-left: 2px
    }

    .footer-bottom p {
        font-size: 14px
    }

    .dashboard-list li>a {
        padding: 2px 0
    }
    /* -------Compare part start-------- */
    .display-none{
        display: none;
    }
    .compare-area .compare-responsive{
        display: block !important;
      }
      .compare-area .compare-responsive table tr td{
          border: 1px solid #ebebeb;
          text-align: center;
          padding: 5px 0;
      }
      .compare-area .compare-responsive .main-details{
          width: 100%;
          background: #e4e4e4;
          margin-top: 30px;
      }
      .compare-area .compare-responsive .value-details{
          width: 100%;
      }
      .compare-area .compare-responsive .main-details tr .model{
          width: 100%;
          font-size: 14px;
          color: #444444;
          font-weight: 500;
      }
      .compare-area .compare-responsive .common-information{
          width: 100%;
          margin-top: 30px;
      }
      .compare-area .compare-responsive .common-information tr td{
          background: #091c20;
          font-size: 16px;
          color: #ffffff;
          font-weight: 600;
      }
      .compare-area .compare-responsive .no-margin{
          margin-top: 0;
      }

    /* -------Compare part end-------- */


}

@media (min-width:576px) and (max-width:767px) {
    .border-hide {
        border-top: none
    }

    .table-head {
        display: none
    }

    .dashboard-content {
        padding: 0
    }

    .btn-secondary {
        font-size: 11px;
        padding: 6px 11px
    }

    .hide-on {
        display: none
    }

    .price {
        text-align: right
    }

    .table-body .beforeclick {
        display: none;
        position: relative
    }

    .table-body .beforeclick .chose-btn {
        position: absolute;
        top: 0;
        left: 197px;
        border-top: none
    }

    .table-body .after-click {
        display: block;
        position: relative;
        padding: 75px 0
    }

    .table-body .after-click .pro-name {
        position: absolute;
        top: 0;
        left: 0;
        border-top: none
    }

    .table-body .after-click .pro-img {
        position: absolute;
        top: 75px;
        left: 0;
        border-top: none
    }

    .table-body .after-click .dubble-btn {
        position: absolute;
        top: 0;
        right: -373px;
        border-top: none
    }

    .table-body .after-click .pro-detail {
        position: absolute;
        top: 62px;
        right: -150px;
        left: 70px;
        border-top: none
    }

    .table-body .after-click .pro-price {
        position: absolute;
        top: 75px;
        right: -295px;
        border-top: none
    }

    @import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';

    .aa-input-container {
        display: inline-block;
        position: relative
    }

    .aa-hint {
        color: #e4e4e4
    }

    .aa-dropdown-menu {
        background-color: #133137;
        color: #fff;
        border: 2px solid rgba(228, 228, 228, .6);
        border-top-width: 1px;
        font-family: "Montserrat", sans-serif;
        width: 300px;
        margin-top: 10px;
        box-shadow: 4px 4px 0 rgba(241, 241, 241, .35);
        font-size: 12px;
        border-radius: 4px;
        box-sizing: border-box;
        word-wrap: break-word
    }

    .aa-suggestion {
        padding: 12px;
        border-top: 1px solid rgba(228, 228, 228, .6);
        cursor: pointer;
        -webkit-transition: .2s;
        transition: .2s;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .aa-suggestion:hover,
    .aa-suggestion.aa-cursor {
        background-color: rgba(241, 241, 241, .65)
    }

    .aa-suggestion>span:first-child {
        color: #333
    }

    .aa-suggestion>span:last-child {
        text-transform: uppercase;
        color: #a9a9a9
    }

    .aa-suggestion span em {
        font-weight: 700;
        font-style: normal;
        background-color: rgba(58, 150, 207, .3);
        padding: 2px 0 2px 2px
    }

    .algolia-result {
        display: flex;
        justify-content: space-between;
        align-items: center
    }

    .algolia-thumb {
        max-width: 35px;
        max-height: 35px
    }

    .algolia-details {
        color: #E75858;
        font-weight: 700
    }

    .ais-hits--item em {
        background-color: rgba(58, 150, 207, .3)
    }

    #header-part .header-overlay {
        padding-bottom: 40px;
        padding: 0 0 70px 0
    }

    #header-part .header-overlay nav {
        display: none
    }

    .sticky {
        display: none
    }

    #header-part .header-overlay .sticky-border {
        border: none
    }

    #header-part .header-overlay .top .phone a {
        font-size: 15px
    }

    #header-part .header-overlay .top .phone a i {
        width: 30px;
        height: 30px;
        font-size: 20px;
        line-height: 28px;
        margin-right: 6px;
        margin-left: -5px
    }

    #header-part .header-overlay .top .buttons .offer-button {
        font-size: 14px;
        padding: 0 8px
    }

    #header-part .header-overlay .top .buttons a {
        font-size: 14px;
        margin-left: 5px
    }

    #header-part .header-overlay .top .buttons .reg::before {
        width: 1px;
        height: 83%;
        top: 2px;
        right: -4px
    }

    #header-part .header-overlay .top .buttons .reg::after {
        width: 1px;
        height: 83%;
        top: 2px;
        left: -3px
    }

    #header-part .header-overlay .middle {
        display: none
    }

    #header-part .header-overlay .mobile-view {
        display: block;
        margin-top: 10px
    }

    #header-part .header-overlay .mobile-view .main .logo .img {
        width: 75%
    }

    #header-part .header-overlay .mobile-view .main .logo .img img {
        width: 45%
    }

    #header-part .header-overlay .mobile-view .main .icons {
        text-align: right
    }

    #header-part .header-overlay .mobile-view .icons {
        text-align: right;
        margin-top: -38px
    }

    #header-part .header-overlay .mobile-view .icons span {
        display: inline-block;
        font-size: 14px;
        color: #ffffff;
        font-weight: 500;
        border: 1px solid #ffffff;
        border-radius: 5px;
        padding: 3px 8px
    }

    #header-part .header-overlay .mobile-view .main .icons .inner-icon {
        display: inline-block;
        border: 1px solid #ffffff;
        border-radius: 5px;
        padding: 3px 8px;
        margin-left: 10px;
        position: relative
    }

    #header-part .header-overlay .mobile-view .icons .pc-build {
        display: inline-block;
        font-size: 13px;
        color: #ffffff;
        font-weight: 500;
        border: 1px solid #ffffff;
        border-radius: 5px;
        padding: 1px 6px;
        background: linear-gradient(130deg, #00237E, #3749BB, #0BC1E9, #3749BB, #00237E);
        background-size: 200% 200%;
        -webkit-animation: Animation 5s ease infinite;
        -moz-animation: Animation 5s ease infinite;
        animation: Animation 5s ease infinite
    }

    @-webkit-keyframes Animation {
        0% {
            background-position: 10% 0%
        }

        50% {
            background-position: 91% 100%
        }

        100% {
            background-position: 10% 0%
        }
    }

    @-moz-keyframes Animation {
        0% {
            background-position: 10% 0%
        }

        50% {
            background-position: 91% 100%
        }

        100% {
            background-position: 10% 0%
        }
    }

    @keyframes Animation {
        0% {
            background-position: 10% 0%
        }

        50% {
            background-position: 91% 100%
        }

        100% {
            background-position: 10% 0%
        }
    }

    #header-part .header-overlay .mobile-view .main .icons .inner-icon .count-num {
        position: absolute;
        top: -19px;
        left: -10px;
        color: #143b42;
        background: #ffffff;
        width: 18px;
        height: 22px;
        border: 1px solid #143b42;
        border-radius: 50%;
        text-align: center;
        line-height: 20px;
        font-weight: 700
    }

    #header-part .header-overlay .bottom {
        border: none
    }

    .offcanvas_menu_wrapper.active {
        background: #143b42;
        color: #ffffff
    }

    .offcanvas_main_menu li a {
        color: #ffffff;
        font-size: 16px;
        transition: .4s
    }

    .offcanvas_menu .canvas_open {
        width: 10%
    }

    .offcanvas_menu form {
        position: absolute;
        top: 142px;
        left: 5px;
        width: 95%;
        z-index: 1
    }

    .offcanvas_menu form input {
        width: 100%;
        outline: 0;
        border: 0;
        padding: 3px;
        padding-left: 15px;
        border-radius: 30px
    }

    .offcanvas_menu form button {
        position: absolute;
        top: 2px;
        right: 10px;
        background: transparent;
        border: 0;
        font-size: 20px;
        color: #939393
    }

    .offcanvas_footer a {
        color: #ffffff
    }

    .canvas_close a {
        color: #ffffff
    }

    .offcanvas_main_menu li:hover a {
        color: #ffffff
    }

    .welcome_text p {
        color: #ffffff
    }

    .widget-address p {
        color: #ffffff
    }

    .welcome_text p:hover {
        color: #ffffff
    }

    .widget-address p:hover {
        color: #ffffff
    }

    #cartdrop .cart {
        right: 54px;
        height: 405px !important
    }

    #cartdrop .cart .product {
        width: 290px;
        margin-left: 30px
    }

    #cartdrop .cart .product .img img {
        width: 100%
    }

    #cartdrop .cart .product .text h5 {
        font-size: 13px
    }

    #cartdrop .cart .product .text .price {
        font-size: 13px
    }

    #cartdrop .cart .total-price {
        width: 330px
    }

    #cartdrop .cart .total-price h6 {
        font-size: 13px
    }

    #cartdrop .cart .button {
        width: 323px
    }

    #footer-part .follow-part .bottom .right a {
        display: block;
        text-align: center
    }

    #footer-part .pc-view {
        display: none
    }

    #footer-part .mb-view {
        display: block;
        text-align: center
    }

    #footer-part .mb-viewtwo {
        position: relative
    }

    #footer-part .mb-viewtwo:after {
        content: '';
        position: absolute;
        top: 0;
        right: -21px;
        height: 100%;
        width: 2px;
        background: #939393
    }

    #footer-part .go-middle {
        margin: auto
    }

    #footer-part .quick-menus ul li a {
        font-size: 13px;
        margin-left: 20px
    }

    .footer-bottom p {
        font-size: 14px
    }

    .dashboard-list li>a {
        padding: 2px 0
    }


    /* -------Compare part start-------- */
    .display-none{
        display: none;
    }
    .compare-area .compare-responsive{
        display: block !important;
      }
      .compare-area .compare-responsive table tr td{
          border: 1px solid #ebebeb;
          text-align: center;
          padding: 5px 0;
      }
      .compare-area .compare-responsive .main-details{
          width: 100%;
          background: #e4e4e4;
          margin-top: 30px;
      }
      .compare-area .compare-responsive .value-details{
          width: 100%;
      }
      .compare-area .compare-responsive .main-details tr .model{
          width: 100%;
          font-size: 14px;
          color: #444444;
          font-weight: 500;
      }
      .compare-area .compare-responsive .common-information{
          width: 100%;
          margin-top: 30px;
      }
      .compare-area .compare-responsive .common-information tr td{
          background: #091c20;
          font-size: 16px;
          color: #ffffff;
          font-weight: 600;
      }
      .compare-area .compare-responsive .no-margin{
          margin-top: 0;
      }

    /* -------Compare part end-------- */
}

@media (min-width:768px) and (max-width:991px) {
    .border-hide {
        border-top: none
    }

    .table-head {
        display: none
    }

    .dashboard-content {
        padding: 0
    }

    .btn-secondary {
        font-size: 11px;
        padding: 6px 11px
    }

    .hide-on {
        display: none
    }

    .price {
        text-align: right
    }

    .table-body .beforeclick {
        display: none;
        position: relative
    }

    .table-body .beforeclick .chose-btn {
        position: absolute;
        top: 0;
        left: 197px;
        border-top: none
    }

    .table-body .after-click {
        display: block;
        position: relative;
        padding: 75px 0
    }

    .table-body .after-click .pro-name {
        position: absolute;
        top: 0;
        left: 0;
        border-top: none
    }

    .table-body .after-click .pro-img {
        position: absolute;
        top: 75px;
        left: 0;
        border-top: none
    }

    .table-body .after-click .dubble-btn {
        position: absolute;
        top: 0;
        right: -377px;
        border-top: none
    }

    .table-body .after-click .pro-detail {
        position: absolute;
        top: 62px;
        right: -150px;
        left: 70px;
        border-top: none
    }

    .table-body .after-click .pro-price {
        position: absolute;
        top: 75px;
        right: -400px;
        border-top: none
    }

    #header-part .header-overlay {
        padding-bottom: 50px;
        padding: 0 0 75px 0
    }

    #header-part .header-overlay .top {
        padding: 0
    }

    #header-part .header-overlay nav {
        display: none
    }

    .sticky {
        display: none
    }

    #header-part .header-overlay .sticky-border {
        border: none
    }

    #header-part .header-overlay .top .phone a {
        font-size: 15px;
        margin-top: 10px
    }

    #header-part .header-overlay .top .phone a i {
        width: 30px;
        height: 30px;
        font-size: 20px;
        line-height: 28px;
        margin-right: 6px;
        margin-left: -5px
    }

    #header-part .header-overlay .top .buttons .offer-button {
        font-size: 15px;
        padding: 0 12px
    }

    #header-part .header-overlay .top .buttons a {
        font-size: 15px;
        margin-left: 8px
    }

    #header-part .header-overlay .top .buttons .reg::before {
        width: 2px;
        height: 83%;
        top: 2px;
        right: -6px
    }

    #header-part .header-overlay .top .buttons .reg::after {
        width: 2px;
        height: 83%;
        top: 2px;
        left: -6px
    }

    #header-part .header-overlay .middle {
        display: none
    }

    #header-part .header-overlay .mobile-view {
        display: block;
        margin-top: 10px
    }

    #header-part .header-overlay .mobile-view .main .logo .img {
        width: 101%
    }

    #header-part .header-overlay .mobile-view .main .logo .img img {
        width: 101%
    }

    #header-part .header-overlay .mobile-view .main .icons {
        text-align: right
    }

    #header-part .header-overlay .mobile-view .icons {
        text-align: right;
        margin-top: -38px
    }

    #header-part .header-overlay .mobile-view .icons span {
        display: inline-block;
        font-size: 20px;
        color: #ffffff;
        font-weight: 500;
        border: 1px solid #ffffff;
        border-radius: 5px;
        padding: 6px 10px;
        cursor: pointer
    }

    #header-part .header-overlay .mobile-view .icons .pc-build {
        display: inline-block;
        font-size: 13px;
        color: #ffffff;
        font-weight: 500;
        border: 1px solid #ffffff;
        border-radius: 5px;
        padding: 1px 6px;
        background: linear-gradient(130deg, #00237E, #3749BB, #0BC1E9, #3749BB, #00237E);
        background-size: 200% 200%;
        -webkit-animation: Animation 5s ease infinite;
        -moz-animation: Animation 5s ease infinite;
        animation: Animation 5s ease infinite
    }

    @-webkit-keyframes Animation {
        0% {
            background-position: 10% 0%
        }

        50% {
            background-position: 91% 100%
        }

        100% {
            background-position: 10% 0%
        }
    }

    @-moz-keyframes Animation {
        0% {
            background-position: 10% 0%
        }

        50% {
            background-position: 91% 100%
        }

        100% {
            background-position: 10% 0%
        }
    }

    @keyframes Animation {
        0% {
            background-position: 10% 0%
        }

        50% {
            background-position: 91% 100%
        }

        100% {
            background-position: 10% 0%
        }
    }

    #header-part .header-overlay .mobile-view .main .icons .inner-icon {
        display: inline-block;
        border: 1px solid #ffffff;
        border-radius: 5px;
        padding: 6px 13px;
        margin-left: 10px;
        position: relative;
        cursor: pointer
    }

    #header-part .header-overlay .mobile-view .main .icons .inner-icon .count-num {
        position: absolute;
        top: -19px;
        left: -10px;
        color: #143b42;
        background: #ffffff;
        padding: 3px 8px;
        display: inline-block;
        border: 1px solid #143b42;
        border-radius: 50%;
        text-align: center;
        line-height: 20px;
        font-weight: 700
    }

    #header-part .header-overlay .bottom {
        border: none
    }

    .offcanvas_menu_wrapper.active {
        background: #143b42;
        color: #ffffff
    }

    .offcanvas_main_menu li a {
        color: #ffffff;
        font-size: 16px;
        transition: .4s
    }

    .offcanvas_menu .canvas_open {
        width: 8%
    }

    .offcanvas_menu form {
        position: absolute;
        top: 150px;
        left: 23px;
        width: 95%;
        z-index: 1
    }

    .offcanvas_menu form input {
        width: 369%;
        outline: 0;
        border: 0;
        padding: 7px;
        padding-left: 15px;
        border-radius: 30px
    }

    .offcanvas_menu form button {
        position: absolute;
        top: 3px;
        right: 13px;
        background: transparent;
        border: 0;
        font-size: 30px;
        color: #939393
    }

    .offcanvas_footer a {
        color: #ffffff
    }

    .canvas_close a {
        color: #ffffff
    }

    .offcanvas_main_menu li:hover a {
        color: #ffffff
    }

    .welcome_text p {
        color: #ffffff
    }

    .widget-address p {
        color: #ffffff
    }

    .welcome_text p:hover {
        color: #ffffff
    }

    .widget-address p:hover {
        color: #ffffff
    }

    #cartdrop .cart {
        right: 54px;
        height: 405px !important
    }

    #cartdrop .cart .product {
        width: 290px;
        margin-left: 30px
    }

    #cartdrop .cart .product .img img {
        width: 100%
    }

    #cartdrop .cart .product .text h5 {
        font-size: 13px
    }

    #cartdrop .cart .product .text .price {
        font-size: 13px
    }

    #cartdrop .cart .total-price {
        width: 330px
    }

    #cartdrop .cart .total-price h6 {
        font-size: 13px
    }

    #cartdrop .cart .button {
        width: 330px
    }

    #footer-part .follow-part .bottom .right {
        width: 19% !important
    }

    #footer-part .follow-part .bottom .right a {
        display: inline-block;
        text-align: center
    }

    #footer-part .follow-part .bottom .left .tel {
        display: block
    }

    #footer-part .pc-view {
        display: block
    }

    #footer-part .mb-view {
        display: none;
        text-align: center
    }

    #footer-part .mb-viewtwo {
        position: relative
    }

    #footer-part .mb-viewtwo:after {
        content: '';
        position: absolute;
        top: 0;
        right: -21px;
        height: 100%;
        width: 2px;
        background: #939393
    }

    #footer-part .go-middle {
        margin: auto
    }

    #footer-part .quick-menus ul li a {
        font-size: 13px;
        margin-left: 20px
    }

    .footer-bottom p {
        font-size: 14px
    }

    .dashboard-list li>a {
        padding: 2px 0
    }


    /* -------Compare part start-------- */
    .display-none{
        display: none;
    }
    .compare-area .compare-responsive{
        display: block !important;
      }
      .compare-area .compare-responsive table tr td{
          border: 1px solid #ebebeb;
          text-align: center;
          padding: 5px 0;
      }
      .compare-area .compare-responsive .main-details{
          width: 100%;
          background: #e4e4e4;
          margin-top: 30px;
      }
      .compare-area .compare-responsive .value-details{
          width: 100%;
      }
      .compare-area .compare-responsive .main-details tr .model{
          width: 100%;
          font-size: 14px;
          color: #444444;
          font-weight: 500;
      }
      .compare-area .compare-responsive .common-information{
          width: 100%;
          margin-top: 30px;
      }
      .compare-area .compare-responsive .common-information tr td{
          background: #091c20;
          font-size: 16px;
          color: #ffffff;
          font-weight: 600;
      }
      .compare-area .compare-responsive .no-margin{
          margin-top: 0;
      }

    /* -------Compare part end-------- */
}

@media (min-width:992px) and (max-width:1199px) {
    .table-head {
        display: block;
        width: 147%
    }

    .head-content {
        width: 12%
    }

    .dashboard-content {
        padding: 0
    }

    .btn-secondary {
        font-size: 11px;
        padding: 6px 11px
    }

    .hide-on {
        display: block
    }

    .chose-btn {
        text-align: right
    }

    .price {
        text-align: right
    }

    .text-center {
        text-align: center
    }

    .text-right {
        text-align: right
    }

    .border-hide {
        border-top: none
    }

    .table-head {
        display: none
    }

    .dashboard-content {
        padding: 0
    }

    .btn-secondary {
        font-size: 11px;
        padding: 6px 11px
    }

    .hide-on {
        display: none
    }

    .price {
        text-align: right
    }

    .table-body .beforeclick {
        display: none;
        position: relative
    }

    .table-body .beforeclick .chose-btn {
        position: absolute;
        top: 0;
        left: 197px;
        border-top: none
    }

    .table-body .after-click {
        display: block;
        position: relative;
        padding: 75px 0
    }

    .table-body .after-click .pro-name {
        position: absolute;
        top: 0;
        left: 0;
        border-top: none
    }

    .table-body .after-click .pro-img {
        position: absolute;
        top: 75px;
        left: 0;
        border-top: none
    }

    .table-body .after-click .dubble-btn {
        position: absolute;
        top: 0;
        right: -540px;
        border-top: none
    }

    .table-body .after-click .pro-detail {
        position: absolute;
        top: 75px;
        right: -150px;
        left: 140px;
        border-top: none
    }

    .table-body .after-click .pro-price {
        position: absolute;
        top: 75px;
        right: -490px;
        border-top: none
    }

    #header-part .header-overlay .middle .logo {
        width: 80%
    }

    #header-part .header-overlay .middle .search {
        margin-top: 18px
    }

    #header-part .header-overlay .middle .search form select {
        width: 126px;
        font-size: 16px;
        padding: 9px
    }

    #header-part .header-overlay .middle .search form::before {
        right: 75px
    }

    #header-part .header-overlay .middle .search form button {
        right: 44px
    }

    .aa-input-search {
        width: 496px
    }

    #header-part .header-overlay .middle .icons .inner-icon {
        margin-left: 7px
    }

    #header-part .header-overlay .bottom ul li {
        margin: 3px 4px
    }

    #header-part .header-overlay .bottom ul li a {
        font-size: 13px
    }

    #cartdrop .cart {
        right: 54px;
        height: 405px !important
    }

    #cartdrop .cart .product {
        width: 290px;
        margin-left: 30px
    }

    #cartdrop .cart .product .img img {
        width: 100%
    }

    #cartdrop .cart .product .text h5 {
        font-size: 13px
    }

    #cartdrop .cart .product .text .price {
        font-size: 13px
    }

    #cartdrop .cart .total-price {
        width: 330px
    }

    #cartdrop .cart .total-price h6 {
        font-size: 13px
    }

    #cartdrop .cart .button {
        width: 330px
    }

    #footer-part .follow-part .bottom .right {
        width: 19% !important
    }

    #footer-part .follow-part .bottom .right a {
        display: inline-block;
        text-align: center
    }

    #footer-part .follow-part .bottom .left .tel {
        display: block
    }

    #footer-part .pc-view {
        display: block
    }

    #footer-part .mb-view {
        display: none;
        text-align: center
    }

    #footer-part .mb-viewtwo {
        position: relative
    }

    #footer-part .mb-viewtwo:after {
        content: '';
        position: absolute;
        top: 0;
        right: -21px;
        height: 100%;
        width: 2px;
        background: #939393
    }

    #footer-part .go-middle {
        margin: auto
    }

    #footer-part .quick-menus ul li a {
        font-size: 13px;
        margin-left: 18px
    }

    .footer-bottom p {
        font-size: 14px
    }
    /* -------Compare part start-------- */
    .compare-area .table .title-table{
        width: 30%;
    }
    .compare-area .information-table .head-table{
        width: 100%;
    }
    .display-none{
        display: block;
    }
    .hide-part{
        display: none;
    }
    .compare-area .information-table .main .width-reduce{
        width: 28%;
    }
    .compare-area .information-table .main .width-increase{
        width: 31%;
    }
    .compare-area .information-table .main .width-plus{
        width: 33%;
    }
    .compare-area .information-table .main .width-30{
        width: 36% !important;
    }
    .compare-area .compare-responsive{
        display: none !important;
      }
      .compare-area .compare-responsive table tr td{
          border: 1px solid #ebebeb;
          text-align: center;
          padding: 5px 0;
      }
      .compare-area .compare-responsive .main-details{
          width: 100%;
          background: #e4e4e4;
          margin-top: 30px;
      }
      .compare-area .compare-responsive .value-details{
          width: 100%;
      }
      .compare-area .compare-responsive .main-details tr .model{
          width: 100%;
          font-size: 14px;
          color: #444444;
          font-weight: 500;
      }
      .compare-area .compare-responsive .common-information{
          width: 100%;
          margin-top: 30px;
      }
      .compare-area .compare-responsive .common-information tr td{
          background: #091c20;
          font-size: 16px;
          color: #ffffff;
          font-weight: 600;
      }
      .compare-area .compare-responsive .no-margin{
          margin-top: 0;
      }

    /* -------Compare part end-------- */

}
